extends ../layouts/default

block content
    header#member-header
      .row#member-header-content
        .col-sm-4.col-sm-offset-2.col-lg-2.col-lg-offset-4
          img#member-img.img-responsive.img-circle(src=member.photo_path)
        .col-sm-6
          form.login-form.form-horizontal(method='post')
            #member-name.row.flex
              h2 #{member.name.first} &nbsp
              h2 #{member.name.last}
            .row#cargo
              em #{member.position}
            nav.social
              if member.linkedin
                a.fa.fa-linkedin.fa-icon-border(href=member.linkedin, title='LinkedIn')
              if member.github
                a.fa.fa-github.fa-icon-border(href=member.github, title='Github')
              if member.website
                a.fa.fa-globe.fa-icon-border(href=member.website, title='Website')
    section.container
      if !member.public
        div.container
          div.page-header
            h1 User profile not public
      else
        .row#detail-info
          .row
            .col-sm-6
              if member.about
                h3 BIOGRAFIA
                p #{member.about}
          //
            .col-sm-6#competencias
              h3 COMPETÊNCIAS
              .row
                .col-sm-4
                  label(for="progress-bar-html") HTML
                .col-sm-8
                  .progress
                    .progress-bar#progress-bar-html(role="progressbar" style="width: 60%")
              .row
                .col-sm-4
                  label(for="progress-bar-css") CSS
                .col-sm-8
                  .progress
                    .progress-bar#progress-bar-css(role="progressbar" style="width: 60%")
              .row
                .col-sm-4
                  label(for="progress-bar-js") JAVASCRIPT
                .col-sm-8
                  .progress
                    .progress-bar#progress-bar-js(role="progressbar" style="width: 60%")
              .row
                .col-sm-4
                  label(for="progress-bar-cpp") C++
                .col-sm-8
                  .progress
                    .progress-bar#progress-bar-cpp(role="progressbar" style="width: 60%")
              .row
                .col-sm-4
                  label(for="progress-bar-java") JAVA
                .col-sm-8
                  .progress
                    .progress-bar#progress-bar-java(role="progressbar" style="width: 60%")
              .row
                .col-sm-4
                  label(for="progress-bar-photoshop") PHOTOSHOP
                .col-sm-8
                  .progress
                    .progress-bar#progress-bar-photoshop(role="progressbar" style="width: 60%")
    #member-dividor
