extends ../layouts/default

block content   
    header#member-header
      .row#member-header-content
        .col-sm-5.col-xs-offset-1
          img#member-img.img-responsive.img-circle.pull-right(src=user.photo_path)
        .col-sm-6
          .colxs-offset-1
            form.login-form.form-horizontal(method='post')
              #member-name.row.flex
                h2 #{user.name.first} &nbsp
                h2 #{user.name.last}
              .row#cargo
                em #{user.position}
              nav.social
                a.fa.fa-linkedin.fa-icon-border(href=user.linkedin, title='LinkedIn')
                a.fa.fa-github.fa-icon-border(href=user.github, title='Github')
                a.fa.fa-globe.fa-icon-border(href=user.website, title='Website')
    section.container
      if !user.public
        div.container
          div.page-header
            h1 User profile not public
      else
        .row#detail-info 
          .row
            .col-sm-6
              h3 BIOGRAFIA
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam faucibus nunc sit amet bibendum vestibulum. Fusce ornare vestibulum ultrices. Vivamus sed porta ex. Fusce congue dapibus ante, sit amet volutpat ipsum mattis ac. Phasellus eget sodales elit, eu luctus ipsum. Fusce congue tempor risus. Nullam ac neque quis mi molestie.
            .col-sm-6#competencias
              h3 COMPETÊNCIAS
              .row 
                .col-sm-4
                  label(for="progress-bar-html") HTML
                .col-sm-8
                  .progress
                    .progress-bar#progress-bar-html(role="progressbar" style="width: 60%")
              .row 
                .col-sm-4
                  label(for="progress-bar-css") CSS
                .col-sm-8
                  .progress
                    .progress-bar#progress-bar-css(role="progressbar" style="width: 60%")
              .row 
                .col-sm-4
                  label(for="progress-bar-js") JAVASCRIPT
                .col-sm-8
                  .progress
                    .progress-bar#progress-bar-js(role="progressbar" style="width: 60%")
              .row 
                .col-sm-4
                  label(for="progress-bar-cpp") C++
                .col-sm-8
                  .progress
                    .progress-bar#progress-bar-cpp(role="progressbar" style="width: 60%")
              .row 
                .col-sm-4
                  label(for="progress-bar-java") JAVA
                .col-sm-8
                  .progress
                    .progress-bar#progress-bar-java(role="progressbar" style="width: 60%")
              .row 
                .col-sm-4
                  label(for="progress-bar-photoshop") PHOTOSHOP
                .col-sm-8
                  .progress
                    .progress-bar#progress-bar-photoshop(role="progressbar" style="width: 60%")

      
