extends ../layouts/default

block content
	header#members-header
		h2.text-center#members-title.center-block EQUIPA
	.container#members
		// DIREÇÃO
		section#direction-members
			h3.text-center#members-subtitle.center-block MEMBROS
			.row
				each direction_member in direcao
					//Making accesses null safe (it is necessary to check both)
					if direction_member && direction_member.name
						.col-md-4.col-sm-6.col-xs-12
							.team-member
								a(href="./member/"+direction_member._id)
									img.img-responsive(src=direction_member.photo_path, alt=direction_member.position)
									aside.info-member
										div
											h4 #{direction_member.name.first} #{direction_member.name.last}
											em #{direction_member.position || direction_member.permissionGroup.label}
											hr
										nav.social
											if direction_member.linkedin
												a.fa.fa-linkedin.fa-icon-border(href=direction_member.linkedin, title='LinkedIn')
											if direction_member.github
												a.fa.fa-github.fa-icon-border(href=direction_member.github, title='Github')
											if direction_member.website
												a.fa.fa-globe.fa-icon-border(href=direction_member.website, title='Website')
			// MEMBROS
		section#active-members
			.row
				each member in members
					.col-md-3.col-sm-4.col-xs-12
						.team-member
							a(href="./member/"+member._id)
								img.img-responsive(src=member.photo_path, alt='membro')
								aside.info-member
									div
										h4 #{member.name.first} #{member.name.last}
										em #{member.positionLabel}
										hr
									nav.social
										if member.linkedin
											a.fa.fa-linkedin.fa-icon-border(href=member.linkedin, title='LinkedIn')
										if member.github
											a.fa.fa-github.fa-icon-border(href=member.github, title='Github')
										if member.website
											a.fa.fa-globe.fa-icon-border(href=member.website, title='Website')
		section#recruits
			h3.text-center#members-subtitle.center-block RECRUTAS
			.row
				each recruta in recrutas
					.col-md-3.col-sm-4.col-xs-12
						.team-member
							a(href="./member/"+recruta._id)
								img.img-responsive(src=recruta.photo_path, alt='recruta')
								aside.info-member
									div
										h4 #{recruta.name.first} #{recruta.name.last}
										em #{recruta.positionLabel}
										hr
									nav.social
										if recruta.linkedin
											a.fa.fa-linkedin.fa-icon-border(href=recruta.linkedin, title='LinkedIn')
										if recruta.github
											a.fa.fa-github.fa-icon-border(href=recruta.github, title='Github')
										if recruta.website
											a.fa.fa-globe.fa-icon-border(href=recruta.website, title='Website')
	header#members-dividor
