extends ../layouts/default

block content
	section.members
		.container
			// DIREÇÃO
			div
				.row
					each member in members		
						if member.position == "Presidente"
							.col-sm-3
								.team-member
									a(href="./member/"+member._id)
										img.img-responsive.img-circle(src=member.photo_path, alt='presidente')
									h4 #{member.name.first} #{member.name.last}
									p.text-muted #{member.position}
					each member in members	
						if member.position == "Vice-Presidente e Gestor de Projetos"
							.col-sm-3
								.team-member
									a(href="./member/"+member._id)
										img.img-responsive.img-circle(src=member.photo_path, alt='Vice-Presidente e Gestor de Projetos')
									h4 #{member.name.first} #{member.name.last}
									p.text-muted #{member.position}
					each member in members	
						if member.position == "Vice-Presidente e Gestor de Eventos"
							.col-sm-3
								.team-member
									a(href="./member/"+member._id)
										img.img-responsive.img-circle(src=member.photo_path, alt='Vice-Presidente e Gestor de Eventos')
									h4 #{member.name.first} #{member.name.last}
									p.text-muted #{member.position}
					each member in members	
						if member.position == "Tesoureiro"
							.col-sm-3
								.team-member
									a(href="./member/"+member._id)
										img.img-responsive.img-circle(src=member.photo_path, alt='Tesoureiro')
									h4 #{member.name.first} #{member.name.last}
									p.text-muted #{member.position}
				.row
					.col-sm-3
					each member in members	
						if member.position == "Secretário e Responsável pela Sala"
							.col-sm-3
								.team-member
									a(href="./member/"+member._id)
										img.img-responsive.img-circle(src=member.photo_path, alt='Secretário e Responsável pela Sala')
									h4 #{member.name.first} #{member.name.last}
									p.text-muted #{member.position}
					each member in members	
						if member.position == "Responsável pela Imagem e Comunicação"
							.col-sm-3
								.team-member
									a(href="./member/"+member._id)
										img.img-responsive.img-circle(src=member.photo_path, alt='Responsável pela Imagem e Comunicação')
									h4 #{member.name.first} #{member.name.last}
									p.text-muted #{member.position}
					.col-sm-3
				// MEMBROS
				.row
					each member in members	
						if member.position == "Membro"
							.col-lg-2.col-sm-2
								.team-member
									a(href="./member/"+member._id)
										img.img-responsive.img-circle(src=member.photo_path, alt='membro')
									h4 #{member.name.first} #{member.name.last}
									p.text-muted #{member.position}
					each member in members	
						if member.position == "Recruta"
							.col-lg-2.col-sm-2
								.team-member
									a(href="./member/"+member._id)
										img.img-responsive.img-circle(src=member.photo_path, alt='recruta')
									h4 #{member.name.first} #{member.name.last}
									p.text-muted #{member.position}
						
				// RECRUTAS
				.row
					// TEMPLATE
					// <div class='col-sm-2'><div class='team-member'><img src='images/members/Pedro Fraga-min.png' class='img-responsive img-circle' alt=''><h4>RECRUITS_NAME</h4><p class='text-muted'>Recruta</p></div></div>
				//
					Frase genérica para o final da pagina?
					<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
					<p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
					</div>
					</div>
