extends ../layouts/default

block content
    header.portfolio-header
        h2.text-center.portfolio-title.center-block PORTFÓLIO
    section.portfolio-options.container-fluid
        button.btn.btn-default.see-more-button(type='button', data-filter='all', autofocus="autofocus") TODOS
        button.btn.btn-default.see-more-button(type='button', data-filter='.project') PROJETOS
        button.btn.btn-default.see-more-button(type='button', data-filter='.workshop') WORKSHOPS
        button.btn.btn-default.see-more-button(type='button', data-filter='.event') EVENTOS
    section.portfolio
        .container
            each project in projects
                case project.type
                    when "project"
                        .project.mix
                            .thumbnail.no-border
                                img.img-responsive(src="/images/projects/"+project.image.filename, alt=project.title)
                                .caption
                                    h3  #{project.title}
                                    h4 #{project.state}
                                    hr
                                    p  #{project.description}
                    when "workshop"
                        .workshop.mix
                            .thumbnail.no-border
                                img.img-responsive(src="/images/projects/"+project.image.filename, alt=project.title)
                                .caption
                                    h3  #{project.title}
                                    h4 #{project.state}
                                    hr
                                    p  #{project.description}
                    default 
                        .event.mix
                            .thumbnail.no-border
                                img.img-responsive(src="/images/projects/"+project.image.filename, alt=project.title)
                                .caption
                                    h3  #{project.title}
                                    h4 #{project.state}
                                    hr
                                    p  #{project.description}
                
    header.portfolio-dividor




    script(src='./js/mixitup.min.js')
    script.
        var containerEl = document.querySelector('.container');

        var config = {
            animation: {
                enable: false
            }
        };

        var mixer = mixitup(containerEl, config);
